<nav class="navbar navbar-expand-lg navbar-dark customnav">
  <a class="navbar-brand" routerLink="">IPL2020</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">


  </div>

  <a class="navbar-brand" routerLink="login">Login</a>
  <a class="navbar-brand" routerLink="register">Register</a>

</nav>

 <br />
<br />
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>



