<div class="row mt-5">

  <div *ngIf="teams.length > 0" class="col-md-6">
    <table class="table hover">
      <thead>
        <tr>
          <th>Label</th>
          <th>Team</th>
          <th>City</th>
          <th>Coach</th>
          <th>Home</th>
        </tr>
      </thead>
      <tr *ngFor="let team of teams">
        <td>{{team.label}}</td>
        <td>{{team.team}}</td>
        <td>{{team.city}}</td>
        <td>{{team.coach}}</td>
        <td>{{team.home}}</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <div *ngIf="barChartData && barChart" class="mt-5">
      <google-chart [data]="barChart" (chartSelect)="select($event)"></google-chart>
    </div>
    <div *ngIf="pieChartData && pieChart" class="mt-2">
      <google-chart [data]="pieChart"></google-chart>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>

